@using CivilizationReplica.Models

<h3>Build your Nation</h3>

<div>
	@using (Html.BeginForm("Create","Nation", FormMethod.Post))
	{
	    <h4>Nation Name :</h4>
	    @Html.TextBoxFor(nation => nation.NationName)

	    <h4>Nation's Government Type :</h4>
        @Html.TextBoxFor(nation => nation.GovernmentType)
	
	    <h4>Nation's Economy Type :</h4>
        @Html.TextBoxFor(nation => nation.EconomyType)

	    <h4>Nation's Geography Type :</h4>
        @Html.TextBoxFor(nation => nation.GeographyType)

	    <input type = "submit" value = "create" />
	}
</div>
