@{
    ViewData["Title"] = "Play Civilization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="well welcome">
    <center><h2>Welcome to CIVILIZATION</h2></center>
    <center><h2>Please Login or Signup to Play</h2></center>
</div>
